<% if logged? %>
  <p>Logged as: <strong><%= current_user.email%></strong></p>
  <%= link_to "Logout", logout_path, method: :delete %>
<% else %>
  <%= link_to "Login", login_path%>
  <%= link_to "Signup", sign_path%>
<% end %>
